header{
    background-color: blue;
    font-size: 2rem;
    text-align: center;
    color: azure;
    padding: 5px;
    ul{
        list-style-type: none;
        margin: 10px;
        li{
            color: yellow;
            background-color: yellow;
        }
        a{
            text-decoration: none;
            color: red;
        }
        
        
        }
}
